.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition: 1.5s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-2-square{
    transition: 1.5s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-3-square{
    transition: 1.2s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-4-square{
    transition: 1.2s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
}

.ex-5-square:active{
    width: 40px;
    height: 40px;
    margin: 30px;
}

.ex-5-square{
    transition: .4s;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img:hover{
    filter: grayscale(70%) sepia(30%);
}

.ex-7-img{
    transition: 1.5s;
}

.ex-8-img:hover{
    filter: grayscale(50%) sepia(50%);
    border-radius: 20px;
}

.ex-8-img{
    transition: 1.5s;
}

.ex-9-img:hover{
    filter: grayscale(50%) sepia(50%);
    border-radius: 20px;
    margin: 0;
    width: 600px;
}

.ex-9-img{
    transition: 1.8s;
}

.ex-10-icon{
    animation: jump-down-turn-around-pick-a-ball-of-cotton 1.5s infinite linear;
}

@keyframes jump-down-turn-around-pick-a-ball-of-cotton {
    from {
        transform: rotate(359deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.ex-11-icon:hover{
    animation: turning 1.5s linear;
}

@keyframes turning {
    0% {
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: left-to-right 1s linear;
}
@keyframes left-to-right {
    0% {
        left: 10%;
    }
    30% {
        left: 65%;
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: right-to-left 1s linear;
}
@keyframes right-to-left {
    0% {
        right: 20%;
    }
    30% {
        right: 65%;
    }
    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: topwhite-motion 3s linear;
}
@keyframes topwhite-motion {
    0%{
        left: 8%;
        top: -10px;
    }
    25%{
        top: -10px;
        left: 170px;
    }
    50%{
        left: 170px;
        top: 100%;
    }
    75%{
        left: -15px;
        top: 100%;
    }
    95%{
        left: -15px;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottomwhite-motion 3s linear;
}
@keyframes bottomwhite-motion {
    0%{
        right: 8%;
        bottom: -10px;
    }
    25%{
        bottom: -10px;
        right: 155px;
    }
    50%{
        right: 155px;
        bottom: 100%;
    }
    75%{
        right: -15px;
        bottom: 100%;
    }
    95%{
        right: -15px;
        bottom: -10px;
    }
}